body {
    background-color: lightgrey;
}

h1 {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
    border: solid thin black
}
#container2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: solid thin black
}

.players {
    display: flex;
    height: 300px;
    width: 300px;
    justify-content: center;
}

#guessIt {
    display: inline-flex;
    justify-content: left;
    margin: 30px;
}

#scoreIt {
    display: inline-block;
    justify-content: right;
    margin: 30px;
}

#score {
    margin: 10px;
}